{% extends 'qcm/base.html' %}
{% block pagetitle %}
Effacer la catégorie
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Etes-vous sur de vouloir supprimer la catégorie <span style="font-style:italic;">{{ object }}</span> ?</p>
    <p>Il y a actuellement {{questions_in_category}} questions dans cette catégorie.</p>
    <input class="button is-primary" type="submit" value="Confirmer">
</form>
{% endblock %}