{% extends 'qcm/base.html' %}
{% block pagetitle %}
Effacer le niveau
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Etes-vous sur de vouloir supprimer le niveau <span style="font-style:italic;">{{ object }}</span> ?</p>
    <p>Il y a actuellement {{questions_in_level}} questions reliés à ce niveau.</p>
    <input class="button is-primary" type="submit" value="Confirmer">
</form>
{% endblock %}