{% extends 'qcm/base.html' %}
{% block pagetitle %}
{% if object %}
Modifier le niveau
{% else%}
Créer un niveau
{% endif %}
{% endblock %}

{% block content %}


<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit" value="save">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}