{% extends 'qcm/base.html' %}
{% block pagetitle %}
Effacer l'utilisateur
{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
    <p>Etes-vous sur de vouloir effacer l'utilisateur {{ object.username}} ?</p>
    <ul>
        <li>{{ object.last_name }} - {{ object.first_name }}</li>
        <li>{{object.email}} </li>
    </ul>
    <input class="button is-primary" type="submit" value="Confirmer">

</form>
{% endblock %}
