{% extends 'qcm/base.html' %}
{% block pagetitle %}
Profile
{% endblock %}
{% block content %}

<div class="column is-6 is-offset-2">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{form.last_name.label_tag }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{form.first_name.label_tag }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        {{form.first_name}}
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{form.email.label_tag }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        {{form.email}}
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_staff%}
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{form.is_staff.label}}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        {{form.is_staff}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit" value="save">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

