{% extends 'qcm/base.html' %}
{% block pagetitle %}
Administration
{% endblock %}
{% block content %}


<div id="admin_tab_app">
    <!-- Nav tabs -->
    <div class="tabs is-centered is-toggle is-fullwidth">
        <ul>
            <li v-bind:class="{ 'is-active': tab == 'user' }" @click="tab = 'user'">
                <a>
                    <span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>
                    <span>Utilisateurs</span>
                </a>
            </li>
            <li v-bind:class="{ 'is-active': tab == 'category' }" @click="tab = 'category'">
                <a>
                    <span class="icon"><i class="far fa-folder-open" aria-hidden="true"></i></span>
                    <span>Catégories</span>
                </a>
            </li>
            <li v-bind:class="{ 'is-active': tab == 'level' }" @click="tab = 'level'">
                <a>
                    <span class="icon"><i class="fas fa-layer-group" aria-hidden="true"></i></span>
                    <span>Niveaux</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Tab panes  -->
    <div class="content">
        <!-- Utilisateurs  -->
        <div v-show="tab == 'user'">
            <table class="table ">
                <tr>
                    <th>
                        Utilisateur
                    </th>
                    <th>

                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Date d'inscription
                    </th>
                    <th>
                        Dernière connexion
                    </th>
                    <th class="has-text-centered">
                        Questions
                    </th>
                    <th class="has-text-centered">
                        Quiz
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                {% for person in user_list %}
                <tr>
                    <td>
                        {{person.username}}
                    </td>
                    <td>
                        {% if person.is_staff%}
                        <span class="tag is-info">admin</span>
                        {%endif%}
                    </td>
                    <td>
                        {{person.first_name}} {{person.last_name}}
                    </td>
                    <td>
                        {{person.email}}
                    </td>
                    <td>
                        {{person.date_joined}}
                    </td>
                    <td>
                        {{person.last_login}}
                    </td>
                    <td class="has-text-centered">
                        {{person.question_set.all.count}}
                    </td>
                    <td class="has-text-centered">
                        {{person.quiz_set.all.count}}
                    </td>
                    <td>

                        <a href="{% url 'update_user' person.pk%}" title="Modifier"><i class="far fa-edit"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'delete_user' person.pk%}" title="Supprimer"><i
                                class="far fa-trash-alt"></i></a>

                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
        <!-- Catégories  -->
        <div v-show="tab == 'category'">
            <table class="table ">
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Niveau
                    </th>
                    <th>
                        Catégorie
                    </th>
                    <th class="has-text-centered">
                        Questions
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                {% for category in category_list %}
                <tr>
                    <td>
                        {{category.code}}
                    </td>
                    <td>
                        {{category.level}}
                    </td>
                    <td>
                        {{category.name}}
                    </td>
                    <td class="has-text-centered">
                        {{category.question_set.all.count}}
                    </td>
                    <td>
                        <a href="{% url 'update_category' category.pk%}" title="Modifier"><i
                                class="far fa-edit"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'delete_category' category.pk%}" title="Supprimer"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- Niveaux  -->
        <div v-show="tab == 'level'">
            <table class="table ">
                <tr>
                    <th>
                        Matière
                    </th>
                    <th class="has-text-centered">
                        Questions
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                {% for level in level_list %}
                <tr>
                    <td>
                        {{level.name}}
                    </td>
                    <td class="has-text-centered">
                        {{level.question_set.all.count}}
                    </td>
                    <td>
                        <a href="{% url 'update_level' level.pk%}" title="Modifier"><i
                                class="far fa-edit"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'delete_level' level.pk%}" title="Supprimer"><i
                                class="far fa-trash-alt"></i></a>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


<script>
'use strict';

var admin_tab_app = new Vue({
  el: '#admin_tab_app',
  data: {
    tab: "user"
  }
});


</script>

{% endblock %}