{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>QCM NSI</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'qcm/js/qcm.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'qcm/css/python_code_highlight.css'%}">
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$$$', '$$$'], ['\\(', '\\)']]
          }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>

<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Accueil
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Question
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'create_question'%}">
                        Ajouter
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'import_question'%}">
                        Importer
                    </a>
                    <a class="navbar-item" href="{% url 'export_question'%}">
                        Exporter
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">

                <a class="navbar-link">
                    Quiz
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'create_quiz'%}">
                        Ajouter
                    </a>
                    <a class="navbar-item" href="{% url 'list_quiz'%}">
                        Liste
                    </a>
                </div>

            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Première
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'list_question_by_category' TYPES_DE_BASES %}">
                        Types et valeurs de base
                    </a>
                    <a class="navbar-item" href="{% url 'list_question_by_category' TYPES_CONSTRUITS %}">
                        Types construits
                    </a>
                    <a class="navbar-item" href="{% url 'list_question_by_category' TABLES %}">
                        Données en tables
                    </a>

                    <a class="navbar-item" href="{% url 'list_question_by_category' WEB %}">
                        IHM et Web
                    </a>
                    <a class="navbar-item" href="{% url 'list_question_by_category' ARCHI_1 %}">
                        Architecture et OS
                    </a>
                    <a class="navbar-item" href="{% url 'list_question_by_category' LANG_1 %}">
                        Langages et programmation
                    </a>
                    <a class="navbar-item" href="{% url 'list_question_by_category' ALGO_1 %}">
                        Algorithmique
                    </a>

                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_staff%}
                    <a class="button " href="{% url 'admin' %}">
                        <strong>Admin</strong>
                    </a>
                    {% endif %}
                    <a class="button " href="{% url 'update_profile' %}">
                        <strong>Profil</strong>
                    </a>
                    <a class="button is-info" href="{% url 'logout' %}">
                        <strong>Déconnexion</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<section class="section">
    <div class="container">
        <!-- Menu -->
        <h1 class="title">{% block pagetitle %}Title{% endblock %}</h1>
        <hr>
        <!-- Contenu -->

        {% block content %}

        {% endblock %}

    </div>

</section>
</body>
</html>

