{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>QCM NSI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'qcm/css/python_code_highlight.css'%}">
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$$$', '$$$'], ['\\(', '\\)']]
          }
        };

    </script>

    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script src="{% static 'qcm/js/qcm.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>


<section class="hero is-fullheight">
    {% block content %}
    <div class="hero-body">
        <div class="column is-4 is-offset-4 has-text-centered">
            <h3 class="title has-text-grey">QCM NSI</h3>
            <p class="subtitle has-text-grey">Entrer le code du quiz.</p>
            <div class="box">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" name="code" type="text" placeholder="Votre code"
                                   autofocus="" required>
                        </div>
                    </div>
                    <button class="button is-block is-info is-large is-fullwidth" type="submit">Rechercher le quiz
                    </button>
                </form>
            </div>
            {% include 'qcm/messages.html' %}
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>

