{% if messages %}
{% for message in messages %}
<article class="message {{message.tags}}">
    <div class="message-header">
        <p>{{ message.extra_tags }}</p>
        <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
    </div>
    {% endfor %}
</article>
{% endif %}