
{% extends 'qcm/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Save">
</form>
{% endblock %}