{% extends 'qcm/base.html' %}
{% block pagetitle %}
Effacer la question
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Etes-vous sur de vouloir effacer "{{ object }}" ?</p>
    <input class="button is-primary" type="submit" value="Confirmer">
</form>
{% endblock %}