{% extends 'qcm/base.html' %}
{% load add_attr %}

{% block pagetitle %}
{% if object %}
Modifier la question
{% else %}
Ajouter une question
{% endif %}

{% endblock %}


{% block content %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.level.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        {{ form.level }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.category.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        {{ form.category }}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.text.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.text }}
                </div>
            </div>
        </div>
    </div>


    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="id_answer1">{{form.answer1.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.answer1 }}
                </div>
            </div>
        </div>
    </div>


    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="id_anwser2">{{form.answer2.label_tag }}</label>

        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.answer2 }}
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.answer3.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.answer3 }}
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.answer4.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.answer4 }}
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.tags.label_tag}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.tags }}
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.author.label_tag }}</label>
        </div>
        <div class="field-body">

            <div class="field">
                <div class="control">
                    <input type="text" class="input is-half" name="author" maxlength="128" required
                           {% if object %} value="{{object.author}}"
                           {% else %} value="{{user.first_name}} {{user.last_name}}" {% endif %}
                           id="id_author">
                </div>
            </div>

        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit" value="save">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}