{% extends 'qcm/base.html' %}
{% block pagetitle %}
Importer des questions
{% endblock %}

{% block content %}


{% include 'qcm/messages.html' %}


<div class="columns">
    <div class="column">
        <p class="title is-4">Charger un fichier</p>

        <div id="file_tab_app">
            <!-- Nav tabs -->
            <div class="tabs is-centered  is-fullwidth">
                <ul>
                    <li v-bind:class="{ 'is-active': fileformat == 'csv' }" @click="fileformat = 'csv'">
                        <a>

                            <span>.CSV</span>
                        </a>
                    </li>
                    <li v-bind:class="{ 'is-active': fileformat == 'gift' }" @click="fileformat = 'gift'">
                        <a>

                            <span>.XML</span>
                        </a>
                    </li>
                    <li v-bind:class="{ 'is-active': fileformat == 'xml' }" @click="fileformat = 'xml'">
                        <a>
                            <span>GIFT</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Tab panes   -->
            <div class="content">
                <div v-show="fileformat == 'csv'">
                    <div>
                        <ul>
                            <li>categorie</li>
                            <li>enonce</li>
                            <li>enonce</li>
                            <li>reponse_1</li>
                            <li>reponse_2</li>
                            <li>reponse_3</li>
                            <li>reponse_4</li>
                            <li>auteur</li>
                            <li>tags</li>
                        </ul>
                    </div>

                    <form method="post" action="{% url 'import_question_csv' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="file has-text-centered">
                            <label class="file-label">
                                <input class="file-input" type="file" name="csv_file" required>
                                <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">Sélectionner un fichier .CSV</span>
                                        </span>
                            </label>
                            <input class="button is-primary " type="submit" value="Importer">
                        </div>
                    </form>

                </div>
                <div v-show="fileformat == 'gift'">
                    <div>
                        Import de pronote
                    </div>
                    <form method="post" action="{% url 'import_question_xml' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="file has-text-centered">
                            <label class="file-label">
                                <input class="file-input" type="file" name="xml_file" accept=".xml" required>
                                <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">Sélectionner un fichier .XML</span>
                                        </span>
                            </label>
                            <input class="button is-primary " type="submit" value="Importer">
                        </div>
                    </form>
                </div>
                <div v-show="fileformat == 'xml'">
                    gift
                </div>
            </div>
        </div>

    </div>
    <div class="column">
        <p class="title is-4">Historique</p>

        {% if object_list %}
        <table class="table is-striped">
            <tbody>
            <tr>
                <th></th>
                <th>date</th>
                <th>questions</th>
                <th>utilisateur</th>
                <th>fichier</th>
                <th></th>
            </tr>
            {% for import in page_obj %}
            <tr>

                <td>
                    <span class="tag is-link is-link">{{import.get_file_format_display}}</span>
                </td>
                <td>
                    {{import.created}}
                </td>
                <td>
                    {{import.question_set.count}}
                </td>
                <td>
                    {% if import.user %}
                    {% if import.user.username|length > 12 %}
                    <span title="{{import.user.username}}">{{import.user.username | truncatechars:12}}</span>
                    {%else%}{{import.user}}{% endif%}
                    {% else %}--{%endif%}
                </td>
                <td>
                    {% if import.file_name|length > 24%}
                    <span title="{{import.file_name}}">{{import.file_name | truncatechars:24}}</span>
                    {%else%}
                    {{import.file_name }}
                    {%endif%}
                </td>
                <td>
                    <a href=" {% url 'list_question_by_import_record' import.pk %}">
                        <i class="fas fa-search"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                <li>
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
                {% endif %}
                <li>
                    {% if page_obj.has_previous %}
                    <span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                <li>
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link"
                       aria-label="Goto page {{ page_obj.previous_page_number }}">
                        {{ page_obj.previous_page_number }}
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page">
                        {{ page_obj.number }}
                    </a>
                </li>
                <li>
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="pagination-link"
                       aria-label="Goto page {{ page_obj.next_page_number }}">
                        {{ page_obj.next_page_number }}
                    </a>
                    {% endif%}
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link"
                       aria-label="Goto page {{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                </li>
            </ul>
        </nav>


        {% else %}
        Aucun import de données
        {%endif%}
    </div>
</div>


<script>
'use strict';

var file_tab_app = new Vue({
  el: '#file_tab_app',
  data: {
    fileformat: "csv"
  }
});











































</script>


{% endblock %}


