{% extends 'qcm/base.html' %}

{% block pagetitle %}
Statistiques
{% endblock %}

{% block content %}


<h2 class="title">Catégorie</h2>
<table class="table">
    {% for category in stats %}
    <tr>
        <td>
            {{category.0}}
        </td>
        <td>
            {{category.1}}
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}