{% extends 'qcm/base.html' %}

{% block pagetitle %}
{% if category %}
{{category}}
{% elif import_record%}
Importation de {{import_record.file_name }} le {{ import_record.created|date:'d F Y' }} à {{ import_record.created |date:'H:i'}}
{% else %}
Les questions
{% endif %}
{% endblock %}

{% block content %}


{% for question in object_list %}
<div class="columns">
    <div class="column is-2">

    </div>
    <div class="column is-8 ">

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 is-pulled-left">Question {{ question.pk }}</p>
                        <p class="title is-5 is-pulled-right"> {{question.category.name}}</p>
                    </div>
                </div>
                <div class="content ">
                    {{question.text_html | safe | linebreaks}}

                </div>
                <div class="content">
                    <div class="field">
                        <div class="input is-primary" style="height: auto;">
                            <div class="content" style="width: 100%;">
                                {{question.answer1_html | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="input is-danger" style="height: auto;">
                            <div class="content" style="width: 100%;">
                                {{question.answer2_html | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="input is-danger" style="height: auto;">
                            <div class="content" style="width: 100%;">
                                {{question.answer3_html | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="input is-danger" style="height: auto;">
                            <div class="content" style="width: 100%;">
                                {{question.answer4_html | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {% if quiz_list %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label"><label for="id_level">Level :</label></label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">

                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="level" class="select" id="id_level">
                                            {% for quiz in quiz_list %}
                                            <option value="0">{{quiz.title}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    {% endif %}
                </div>
                <div class="media">
                    <div class="media-content">
                        <div class="tags">
                            {% for tag in question.tags.all %}
                            <a class="tag is-primary" href="{% url 'list_question_by_tag' tag.name %}">
                                {{tag.name}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification is-link ">
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <i class="fas fa-shopping-basket"></i> <a
                            href="{% url 'delete_question' question.pk %}">Ajouter au panier</a></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <i class="far fa-edit"></i> <a href="{% url 'update_question' question.pk %}">Modifier</a></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <i class="far fa-trash-alt"></i> <a
                            href="{% url 'delete_question' question.pk %}">Supprimer</a></p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

{% empty %}

Aucune question pour le moment.
{% endfor %}


{% endblock %}

