{% extends 'qcm/base.html' %}

{% block pagetitle %}
Exporter les questions
{% endblock %}


{% block content %}


{% include 'qcm/messages.html' %}
<div class="columns">
    <div class="column">
        <p class="title is-4">Exporter la base</p>
        <a href=" {% url 'export_question_csv' %}">
            <button class="button is-info">.CSV</button>
        </a>
        <a href=" {% url 'export_question_xml' %}">
            <button class="button is-info">.XML</button>
        </a>

        <button class="button is-info">.GIFT</button>
        <button class="button is-info">MARKDOWN</button>
        <button class="button is-info">LaTeX</button>

    </div>

    <div class="column">
        <p class="title is-4">Historique</p>
        {% if object_list %}
        <table class="table is-striped">
            <tr>
                <th>

                </th>
                <th>
                    date
                </th>
                <th>
                    questions
                </th>
                <th>
                    lien
                </th>
            </tr>
            {% for export in object_list %}
            <tr>
                <td>
                    <span class="tag is-link is-link">{{export.get_format_display}}</span>
                </td>
                <td>
                    {{export.created}}
                </td>
                <td>
                    {% if export.question_number%}
                        {{ export.question_number }}
                    {% else %}
                    --
                    {% endif %}
                </td>
                <td>
                    {% if export.filepath %}
                    <a href="/qcmnsi/qcmnsi/{{export.filepath}}">{{export.filepath}}</a>
                    {% else %}
                    --
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        Aucun export de la base pour le moment
        {% endif %}
    </div>
</div>


{% endblock %}