{% load display_answer %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{quiz.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'qcm/css/python_code_highlight.css'%}">
    <style>
        li {list-style-type: none;}
    </style>

</head>
<body>

<section class="section">
    <div class="container">
        <h1 class="title is-3">{{quiz.title}}</h1>
        <hr>
    </div>
</section>

<section class="section">
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}

        {% for question in quiz.questions.all%}
        <div class="container">
            <div class="content">
                <h2 class="title is-4">Question {{ forloop.counter }}</h2>
            </div>
            <div class="content">
                {{question.text_html | safe | linebreaks}}

                <div class="control">
                    <ul class="fa-ul">
                        {% for number in question.answer_order %}
                        <li><label class="radio">
                            <input type="radio" name="answer-{{question.pk}}" value="{{forloop.counter0}}">
                            {{question | display_answer_html:number | safe | linebreaksbr}}
                        </label>
                        </li>
                        {% endfor %}
                        <li><label class="radio">
                            <input type="radio" name="answer-{{question.pk}}" value="5">
                            ne pas répondre
                        </label>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>

        {% endfor %}

        <button class="button is-primary" type="submit" value="save">
            Enregistrer
        </button>
    </form>

</section>

</body>
</html>