{% extends 'qcm/base.html' %}

{% block pagetitle %}
Résultats - {{quiz.title}}
{% endblock %}

{% block content %}
<div class="column is-10 is-offset-1">

    {% if object_list %}
    <nav class="level box">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Réponses</p>
                <p class="title">{{quiz.stats.locked_submissions}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Note moyenne</p>
                <p class="title">{{quiz.stats.average | floatformat:1}}/{{quiz.points_total}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Réponses correctes</p>
                <p class="title">{{quiz.stats.right | floatformat:1}}%</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Réponses fausses</p>
                <p class="title">{{quiz.stats.wrong | floatformat:1}}%</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Pas de réponse</p>
                <p class="title">{{quiz.stats.no_answer | floatformat:1}}%</p>
            </div>
        </div>
    </nav>
    <table class="table is-narrow">
        <tr>
            <th>
                identifiant
            </th>
            <th class="has-text-centered">
                note
            </th>
            <th class="has-text-centered" title="réponse correcte">
            <span class="icon has-text-success">
            <i class="fas fa-check"></i>
            </span>
            </th>

            <th class="has-text-centered" title="pas de réponse">
            <span class="icon has-text-info">
            <i class="fas fa-minus"></i>
            </span>
            </th>
            <th class="has-text-centered" title="réponse fausse">
            <span class="icon has-text-danger">
            <i class="fas fa-times"></i>
            </span>
            </th>
            <th>
                commencé
            </th>
            <th>
                terminé
            </th>
        </tr>

        {% for submission in object_list %}
        <tr>
            <td>
                {{submission.student}}
            </td>
            <td class="has-text-centered">
                {%if submission.locked%}{{submission.points_scored}}{% else %}--{% endif %}
            </td>
            <td class="has-text-centered">
                {%if submission.locked%}{{submission.count_right }}{% else %}--{% endif %}
            </td>
            <td class="has-text-centered">
                {%if submission.locked %}{{submission.count_no_answer }}{% else %}--{% endif %}
            </td>
            <td class="has-text-centered">
                {%if submission.locked %}{{submission.count_wrong }}{% else %}--{% endif %}
            </td>
            <td>
                {{submission.started |date:'d M Y à H:i'}}
            </td>
            <td>
                {% if submission.finished %}{{submission.finished |date:'d M Y à H:i'}} {% else %}--{%endif%}
            </td>

        </tr>


        {% endfor %}

    </table>

    <table class="table is-narrow">
        <tr>
            <th>question</th>
            <th>correct</th>
            <th>incorrect</th>
            <th>incorrect</th>
            <th>incorrect</th>
            <th>sans réponse</th>
        </tr>
    {% for question, result in questions.items %}
        <tr>
            <td>
                {{question}}
            </td>
            {% for key, value in result.items %}
            <td>{{value}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    {% else %}
    Aucune réponse pour le moment
    {% endif %}



</div>
{% endblock %}