{% extends 'qcm/index.html' %}
{% load static%}
{% block content%}

<div class="column is-2" style="position:fixed;">
    <p class="title is-3">{{object.quiz.title}}</p>
    <p class="title is-3">{{object.student}}</p>
</div>
<div class="column is-8 is-offset-2">
    <div class="content">
        <div id="app" data-submission="{{object.pk}}">
            <question
                    v-for="(quest, index) in questions"
                    v-bind:question="quest"
                    v-bind:number="index+1"
                    :submission="{{object.pk}}"
            ></question>
        </div>
        <div class="has-text-centered">
            <a href="{% url 'lock_submission' object.pk %}">
            <button class="button is-info is-large">Envoyer mes réponses</button>
        </a>
        </div>
    </div>
</div>


<script src="{% static 'qcm/js/vue_temp.js'%}"></script>

{% endblock %}


