{% extends 'qcm/base.html' %}

{% block pagetitle %}
Dupliquer le quiz
{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
    <p>Etes-vous sur de vouloir dupliquer le quiz <b>{{ quiz.title }}</b> ?</p>
    <input class="button is-primary" type="submit" value="Confirmer">
</form>

{% endblock %}