{% extends 'qcm/base.html' %}

{% block pagetitle %}
Mes quiz
{% endblock %}

{% block content %}


{% for quiz in object_list %}

{% if forloop.counter0|divisibleby:"3" %}
<div class="columns">
    {%endif%}
    <div class="column is-4 ">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <h3 class="title is-4 is-pulled-left">{{ quiz.title }} <span class="tag is-primary">{{quiz.code}}</span>
                        </h3>
                        <div class="dropdown is-hoverable is-pulled-right">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                    <span>Exporter</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i></span>
                                </button>
                            </div>
                            <div class="dropdown-menu " id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <a href="{% url 'pdf_quiz' quiz.pk %}" target="_blank">PDF</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="{% url 'pdf_quiz_with_option' quiz.pk 'answer' %}" target="_blank">PDF
                                            (corrigé)</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="{% url 'latex_quiz' quiz.pk %}" target="_blank">LaTeX</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="{% url 'html_quiz' quiz.pk %}" target="_blank">HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">

                    <h4 class="title is-6">Code : </h4>
                    <h4 class="title is-6">
                        {{quiz.questions.all|length}} question{{ quiz.questions.all|length|pluralize }}
                    </h4>
                    <h4 class="title is-6">
                        {{quiz.submission_set.all|length}} réponse{{ quiz.submission_set.all|length|pluralize }}
                    </h4>


                </div>

            </div>
        </div>

        <div class="notification is-link ">
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{% url 'update_quiz' quiz.pk %}">
                            <i class="far fa-edit" title="Modifier"></i>
                        </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{% url 'random_quiz' quiz.pk %}" title="Ajout aléatoire de questions">
                            <i class="fas fa-random"></i>
                        </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{% url 'duplicate_quiz' quiz.pk %}" title="Dupliquer">
                            <i class="fas fa-copy"></i>
                        </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{% url 'results_quiz' quiz.pk %}" title="Résultats">
                            <i class="fas fa-poll"></i>
                        </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{% url 'test_quiz' quiz.pk %}" target="_blank" title="Tester">
                            <i class="fas fa-clipboard-check"></i>
                        </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{% url 'delete_quiz' quiz.pk %}" title="Supprimer">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

    </div>
    {% if forloop.counter|divisibleby:"3" %}
</div>
{%endif%}


{% empty %}
Aucun quiz n'a été crée.
{% endfor %}


{% endblock %}

