{% load display_answer %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{object.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'qcm/css/python_code_highlight.css'%}">
    <style>
        li {list-style-type: none;}
  </style>
    <script>
    MathJax = {
        tex: {
            inlineMath: [['$$$', '$$$'], ['\\(', '\\)']]
            }
    };

    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

</head>
<body>

<section class="section">
    <div class="container">
        <h1 class="title is-3">{{object.title}}</h1>
        <hr>
    </div>

    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Cc-by-nc-sa_icon.svg">
            </div>
            <div class="column">
                {{object.license}}
            </div>

        </div>
        <hr>
    </div>

    {% for question in object.questions.all%}
    <div class="container">
        <div class="content">
            <h2 class="title is-4">Question {{ forloop.counter }}</h2>
        </div>
        <div class="content">
            {{question.text_html | safe | linebreaks}}
        </div>
        <div class="content">
            <ul class="fa-ul">
                {% for number in question.answer_order %}
                <li>
                    <span class="fa-li">
                        <i class="far fa-square"></i>
                    </span>{{question | display_answer_html:number | safe | linebreaks}}
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    </div>

    {% endfor %}
</section>

</body>
</html>