{% extends 'qcm/base.html' %}

{% block pagetitle %}
Effacer le quiz
{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
    <p>Etes-vous sur de vouloir effacer le quiz <b>{{ object.title }}"</b>?</p>
    <input class="button is-primary" type="submit" value="Confirmer">
</form>

{% endblock %}