{% extends 'qcm/index.html' %}

{% block content %}
<div class="hero-body">
    <div class="column is-4 is-offset-4">
        <div class="box">
            <div class="content">
                <h1 class="title">{{ object.title }}</h1>
                Le quiz contient {{object.questions.count }} questions.
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input is-large" name="student" type="text" placeholder="Votre identifiant"
                               autofocus="" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth" type="submit">Commencer le quiz
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}