{% extends 'qcm/base.html' %}
{% load static%}

{% block pagetitle %}
{% if quiz %}
Modifier le quiz
{% else %}
Créer un quiz
{% endif %}
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.title.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    {{ form.title }}
                </div>
            </div>
        </div>
    </div>


    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.level.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        {{ form.level }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.points_right_answer.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control" style="width:78px;">
                    {{ form.points_right_answer }}
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.points_wrong_answer.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control" style="width:78px;">
                    {{ form.points_wrong_answer }}
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.random_question_order.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.random_question_order }}
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{form.show_answers.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form.show_answers }}
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit" value="save">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

{% if quiz %}
<div class="content">
    <p class="title is-4">Supprimer des questions</p>
    <table>
    <div id="app" data-quiz="{{quiz.pk}}">
        <question v-for="(quest, index) in questions"
                v-bind:question="quest"
        ></question>
    </div>
    </table>
</div>
<script src="{% static 'qcm/js/vue_quiz.js'%}"></script>
{% endif %}


{% endblock %}