{% extends 'qcm/base.html' %}
{% block pagetitle %}
{{ quiz.title }} - Ajout de questions
{% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="hidden" name='quiz_pk' value="{{quiz.pk}}">

        {% for category in categories %}
        <div class="columns">
            <div class="column is-half">
                <label class="label">{{ category.category.name }}</label>
            </div>
            <div class="column is-5">
                <div class="field">
                    <p class="control">
                        <input class="input" type="number" min="0" max="{{category.max_value}}"
                               name="category-{{category.category.code}}"
                               style="width:78px;" value="0" {% if category.max_value == 0 %}disabled{% endif%}>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="columns">
            <div class="column is-half">

            </div>
            <div class="column is-5">
                <div class="control">
                    <input class="button is-primary" type="submit" value="Ajouter">
                </div>
            </div>
        </div>



</form>


{% endblock %}