{% extends 'qcm/base.html' %}

{% block pagetitle %}
Recherche
{% endblock %}

{% block content %}
<form method="get" action="{% url 'search_results' %}">
    <div class="field">
        <div class="control ">
            <input class="input" name="query" type="text" autofocus="" required>
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth" type="submit">Rechercher
    </button>
</form>
{% endblock %}