{% extends 'qcm/index.html' %}

{% block content %}
<p class="title is-2">Résultats - {{submission.student}}</p>
{% if submission.quiz.show_answers %}
Score : {{object.points_scored}} / {{object.quiz.points_total}}
<p class="title is-3">Détails</p>

<table class="table">
    {% for answer in object.answer_set.all %}
    <tr>
        <td>
            {{answer.points_scored}}
        </td>
        <td>
            {{answer.question.text_html | safe | linebreaks}}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
La correction sera disponible prochainement.
{% endif %}

{% endblock %}