{% extends 'qcm/index.html' %}


{% block content %}

{% if object.locked %}
Les réponses ont bien été envoyées.
{% else %}
<div class="column is-4 is-offset-4 container has-text-centered">
    <h3 class="title has-text-grey">QCM NSI</h3>
    <div class="box">
        <div class="content">
            <p>Etes-vous sur de vouloir envoyer vos réponses ?</br> Vous ne pourrez pas les modifier par la
                suite.</p>
        </div>
        <form method="post">{% csrf_token %}
            <button class="button is-primary is-large is-block is-fullwidth" type="submit">
                Envoyer les réponses
            </button>
        </form>
    </div>
    {% if messages %}
    <article class="message is-succes"> {% for message in messages %}
        <div class="message-header">
            <p>Fin du quiz</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </article>
    {% endif %}
</div>
{%endif%}
{% endblock %}