

vue !!


<div id="app-2">
  <span v-bind:title="toto">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
<br/>

<br/>
<br/>
<!--
<div id="app-3">
    <button v-on:click="changeTopic('python')">python</button>
<button v-on:click="changeTopic('web')">web</button>
<button v-on:click="changeTopic('db')">db</button>
  <li v-for="question in questionList" v-if="topic == question.topic">
      [[ question.pk ]]
    </li>
</div>
-->

<div id="app-5">
<div id="components-demo">
  <question></question>
    <question></question>
    {{info}}
    <li v-for="currency in info">
        a {{ currency.symbol }}
    </li>
</div>

</div>




