{% load static %}

<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>QCM NSI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'qcm/css/python_code_highlight.css'%}">
</head>

<body>
<section class="hero is-fullheight">
    <div class="container has-text-centered column is-4 is-offset-4">
        <h3 class="title has-text-grey">Connexion</h3>
        <p class="subtitle has-text-grey">Vous avez déja un compte.</p>
        <div class="box">
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <input class="input is-large" name="username" type="text" placeholder="Nom d'utilisateur"
                               autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" name="password" type="password"
                               placeholder="Mot de passe">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth" type="submit">Se connecter</button>
            </form>
        </div>
        <p class="has-text-grey">
            <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
        </p>
    </div>
</section>
</body>
</html>
