{% extends 'qcm/index.html' %}

{% block content %}


<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Mot de passe oublié</h3>
            <p class="subtitle has-text-grey">Entrez votre email pour recevoir les instructions.</p>
            <div class="box">
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" name="email" type="email" placeholder="Votre Email"
                                   autofocus="">
                        </div>
                    </div>
                    <button class="button is-block is-info is-large is-fullwidth" type="submit">Valider
                    </button>
                </form>
            </div>
            <p class="has-text-grey">
                <a href="{% url 'login' %}">Se connecter</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}