{% extends '../tracks/base.html' %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Sign up</button>
</form>


<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Sign up</h3>
                <p class="subtitle has-text-grey">Enter information to create profile.</p>
                <div class="box">
                    <form method="post">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <label class="has-text-grey">Username{{ form.username.errors }}</label>
                                <label class="has-text-danger">{{ form.username.errors }}</label>
                                <input class="input is-medium" name="username" id="id_username" type="text"
                                       placeholder="Your Username"
                                       autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="has-text-grey">Email</label>
                                <label class="has-text-danger">{{ form.email.errors }}</label>
                                <input class="input is-medium" name="email" id="id_email" type="email"
                                       placeholder="Your Email"
                                       autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="has-text-grey">Password</label>
                                <label class="has-text-danger">{{ form.password1.errors }}</label>
                                <input class="input is-medium" name="password1" id="id_password1" type="password"
                                       placeholder="Your Email"
                                       autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="has-text-grey">Confirm password</label>
                                <label class="has-text-danger">{{ form.password2.errors }}</label>
                                <input class="input is-medium" name="password2" id="id_password2" type="password"
                                       placeholder="Your Email"
                                       autofocus="">
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" type="submit">Sign up
                        </button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="{% url 'password_reset' %}">Password forgotten</a> &nbsp;·&nbsp;
                    <a href="{% url 'login' %}">Login</a>
                </p>
            </div>
        </div>
    </div>
    <!--</section>-->
    <!--<section class="section">-->
    <!--<div class="columns">-->
    <!--<div class="column is-4 is-offset-4">-->
    <!--<div class="field">-->
    <!--<label class="label">Name</label>-->
    <!--<div class="control">-->
    <!--<input class="input" type="text" placeholder="Text input">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="field">-->
    <!--<label class="label">Username</label>-->
    <!--<div class="control has-icons-left has-icons-right">-->
    <!--<input class="input is-success" type="text" placeholder="Text input" value="bulma">-->
    <!--<span class="icon is-small is-left">-->
    <!--<i class="fa fa-user"></i>-->
    <!--</span>-->
    <!--<span class="icon is-small is-right">-->
    <!--<i class="fa fa-check"></i>-->
    <!--</span>-->
    <!--</div>-->
    <!--<p class="help is-success">This username is available</p>-->
    <!--</div>-->
    <!--<div class="field">-->
    <!--<label class="label">Email</label>-->
    <!--<div class="control has-icons-left has-icons-right">-->
    <!--<input class="input is-danger" type="email" placeholder="Email input" value="hello@">-->
    <!--<span class="icon is-small is-left">-->
    <!--<i class="fa fa-envelope"></i>-->
    <!--</span>-->
    <!--<span class="icon is-small is-right">-->
    <!--<i class="fa fa-warning"></i>-->
    <!--</span>-->
    <!--</div>-->
    <!--<p class="help is-danger">This email is invalid</p>-->
    <!--</div>-->
    <!--<div class="field">-->
    <!--<label class="label">Phone</label>-->
    <!--<div class="control">-->
    <!--<input class="input" type="text" placeholder="Phone Number">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="field">-->
    <!--<label class="label">Gender</label>-->
    <!--<div class="control">-->
    <!--<div class="select">-->
    <!--<select>-->
    <!--<option>Select</option>-->
    <!--<option>Male</option>-->
    <!--<option>Female</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="field">-->
    <!--<div class="control">-->
    <!--<label class="checkbox">-->
    <!--<input type="checkbox">-->
    <!--I agree to the <a href="#">terms and conditions</a>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="field is-grouped">-->
    <!--<div class="control">-->
    <!--<button class="button is-link">Submit</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    {% endblock %}